OPENAI_API_KEY="MyOpenAIKeyHere" # As always, we must pay our AI overlords because we can't assume everyone has a GPU
DOCUMENT_BATCH_COUNT=1 # How many PDFs to load in memory before updating ChromaDB. If you put A LOT of PDFs into ./knowledgebase, you might want to set this higher
COMPANY_NAME="SS&C Technologies" # If your PDFs are relevant to a particular company, put their name here